.NavM {
  height: 80px;
}
.search-bar-container {
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

@media only screen and (max-width: 480px) {
  .NavM {
    width: auto;
    height: 80px;
  }

  .navbar-light .navbar-toggler {
    background-image: url("../../images/bars-solid.svg");
    background-repeat: no-repeat;
  }
  .search-bar-container {
    padding-top: 0vh;
  }

  .NavM,
  .navbar-light .navbar-toggler:active {
    height: 300px;
  }
  .NavM,
  .navbar-light .navbar-toggler::after {
    height: 80px;
  }
}
@media (max-width: 767px) {
  .Brandlogo {
    width: 80px;
    height: 80px;
  }

  #navbar-nav {
    position: hidden !important;
  }
}

.notification-ui_dd-header {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.notification-ui_dd-header h3 {
  font-size: medium;
  margin-bottom: 0;
}

.notification-list {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}
.notification-list--unread {
  position: relative;
  background: #f4f8fa;
}
.notification-list--unread:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 1px);
  border-left: 2px solid #007bff;
}
.notification-list .notification-list_img img {
  height: 42px;
  width: 42px;
  border-radius: 50px;
  margin-right: 20px;
}
.notification-list .notification-list_detail {
  margin-right: auto;
  max-width: 200px;
}
.notification-list .notification-list_detail p {
  margin-bottom: 5px;
  line-height: 1.2;
}
.notification-list .notification-list_detail .nt-link {
  border-left: 3px solid #007bff;
  line-height: 1.3;
  padding-left: 10px;
}
.notification-list--unread {
  position: relative;
  background: #f4f8fa;
}
.notification-list--unread:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 1px);
  border-left: 2px solid #007bff;
}
.dropdown-size {
  max-height: 300px;
  overflow-y: auto;
}
/* Hide the sidebar toggle button on desktop screens */
@media (min-width: 768px) {
  #nav {
    display: none;
  }
}
